{% extends "layout.html" %}

{% block content %}

  <h3>{{results.title}} <small> (<a href="{{results.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="{{results.urlTitle}}">PLACEHOLDER AUTHOR NAME</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH A LINK TO AUTHOR PAGE</div>
  <div class="page-body"> {{results.content}} </div>
  <hr/>
  <a href="{{results.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{results.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
